<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}"/>

<div>
    <a href="https://plot.ly/~jellyjellyz/79/?share_key=O97OxQFjXfwyrui7bdo7Ub" target="_blank" title="jobs in Florida" style="display: block; text-align: center;"><img src="https://plot.ly/~jellyjellyz/79.png?share_key=O97OxQFjXfwyrui7bdo7Ub" alt="jobs in Florida" style="max-width: 100%;width: 1000px;"  width="1000" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jellyjellyz:79" sharekey-plotly="O97OxQFjXfwyrui7bdo7Ub" src="https://plot.ly/embed.js" async></script>
</div>