<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}"/>

<div>
    <a href="https://plot.ly/~jellyjellyz/59/?share_key=jAIRBXDtN6KJn3v18mI5cU" target="_blank" title="programming language distribution" style="display: block; text-align: center;"><img src="https://plot.ly/~jellyjellyz/59.png?share_key=jAIRBXDtN6KJn3v18mI5cU" alt="programming language distribution" style="max-width: 100%;width: 1000px;"  width="1000" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jellyjellyz:59" sharekey-plotly="jAIRBXDtN6KJn3v18mI5cU" src="https://plot.ly/embed.js" async></script>
</div>