
<body style="background-image: url('/static/WordArt.png'); background-repeat: no-repeat; background-position: center center;background-size: contain;">
  <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='style.css') }}"/>
  
<form name="dropdown" method="POST" action='/redirectpage'>  
    <section class="container">
      <div class="dropdown">
          <select name="state" class="dropdown-select">
            <option value="">Select a Plot…</option>
            <option value="/all">Jobs in All states</option>
            <option value="/ca">Jobs in California</option>
            <option value="/mi">Jobs in Michigan</option>
            <option value="/fl">Jobs in Florida</option>
            <option value="/lag">Demand of Programming language</option>
            <option value="/numofjobsbystate">Job demand by state</option>
          </select>
      </div>
      <button type = "submit" value = "Submit" class="button">GO</button>
    </section>
  </form>
</body>
