<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='style1.css') }}"/>

<div>
    <a href="https://plot.ly/~jellyjellyz/73/?share_key=PTGuAOI1wTn5RLpHqW6iBx" target="_blank" title="jobs in Michigan" style="display: block; text-align: center;"><img src="https://plot.ly/~jellyjellyz/73.png?share_key=PTGuAOI1wTn5RLpHqW6iBx" alt="jobs in Michigan" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jellyjellyz:73" sharekey-plotly="PTGuAOI1wTn5RLpHqW6iBx" src="https://plot.ly/embed.js" async></script>
</div>
    